.landing-container {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
    &__table{
        height:69%;
        table{
            height:100%;
        }
        &__top {

            &__left, &__right {
                background-color: #fafafa;
                border-right: 2px solid #e5e9f0;
                padding-left: 3%;
                padding-right: 3%;
            }

            &__left {
                padding: 5em 4em 5em;
                min-height: 400px;
                height: 100%;
                width: 35%;
                padding-bottom: 10em;

                &__text {
                    margin-top: 1rem;
                }
            }

            &__right {
                background-image: url('/static/img/cell.png')!important;
                background-size: 9em 2em!important;
                background-position-x: 0em;
                width: 65%;
                min-width: 610px;
                padding: 75px 65px;

                &__video {
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 48.25%;
                    &__iframe{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }


    }
    &__bottom {
                background-color: #355985;
                height: 27%;
                width: 100%;
            }
}

.footer, .footer__logo, .footer__logo-items {
	line-height: 2.5;
}

.footer {
	background-color: #fafafa;
	width: 100%;
    margin-bottom: 0em;
    padding-bottom: 0.7em;

	&__logo, &__logo-items {
		vertical-align: middle;
		font: 400 12px "Open Sans", sans-serif;
	}

	&__logo {
	    float: left;
	    font: 600 14px "Open Sans",sans-serif;
	    color: #555;
	    margin: 0.6em 2em 0 1em;
	}

	&__logo-items {
		li {
			float: left;
			margin-right: 2em;
			list-style:none;
			position:relative;
			a{
			    color:#75a8fc;
			}
			&:after{
                content: '';
                position: absolute;
                left: -10px;
                top: 8px;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background: #a9a5a5;
			}
		}
	}
}

.blue {
	background-color: #4785f6;
	color: white;
}

.spacing-top {
	margin-top: 2.5em;
}

.get-started-btn {
	height: auto;
	width: auto;
	border: none;
    padding: 12px 20px;
	&__text {
	    -moz-osx-font-smoothing: grayscale;
	    -webkit-font-smoothing: antialiased;
	    font-size: 1.2rem;
	    line-height: 2rem;
	    font-weight: 400;
	    letter-spacing: .03125em;
	    text-decoration: inherit;
	    text-transform: inherit;
	    color: white;
        vertical-align: middle;
	}
}

.landing-page-content-wrapper {
	height: 100!important;
}

.dd--heading {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 300;
  letter-spacing: -.00833em;
  text-decoration: inherit;
  text-transform: inherit;
  color: #434343;
}

.dd--body1 {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: 200;
	letter-spacing: .03125em;
	text-decoration: inherit;
	text-transform: inherit;
	color: #555555;
}